{% load static wagtailcore_tags wagtailimages_tags %}

<footer class="site-footer-fanzine">
    <div class="container site-footer-fanzine__inner">
        <div>
            <p class="site-footer-fanzine__title">L'agenda culturel du Mans depuis 1997.</p>
            <p class="site-footer-fanzine__sub">Concerts/spectacles/Expositions dans la Sarthe</p>
        </div>
        <a href="mailto:contact@lebidul.com" class="site-footer-fanzine__contact">
            <span>&#9758;</span> contact@lebidul.com
        </a>
    </div>
</footer>
